<div class="container content profile" style="position: relative;">
    <div class="row margin-bottom-30">
        <div id="informacionContent" class="col-md-8 mb-margin-bottom-30 shadow-wrapper">
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px; border-bottom: 3px solid #aa1916; padding: 0;">
                <h1 class="pull-left" style="font-size:36px;">Agenda</h1>
            </div>
            <!--Agenda-->
            <table class="calendar">
                <thead>
                    <tr>
                        <th colspan="7" style="font-size:18px;"><span style="float:left"><img src="rsc/img/rrewind.png"
                                    style="cursor:pointer;" onclick="MonthDirection(11, -1, 0, 2018)"></span id="mes-actual">Diciembre
                            2018<span style="float:right"><img src="rsc/img/rforward.png" style="cursor:pointer;"
                                    onclick="MonthDirection(11, +1, 0, 2018)"></span></th>
                    </tr>
                    <tr>
                        <th class="cell-header">D</th>
                        <th class="cell-header">L</th>
                        <th class="cell-header">M</th>
                        <th class="cell-header">M</th>
                        <th class="cell-header">J</th>
                        <th class="cell-header">V</th>
                        <th class="cell-header">S</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td class=" cell-weekend ">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="" id="td1">
                                <div class="cell-number" id="day1">1</div>
                                <div class="cell-data" id="data1">&nbsp;</div>
                            </td>
                        </tr>
                        <tr>
                            <td class=" cell-weekend " id="td2">
                                <div class="cell-number-white" id="day2">2</div>
                                <div class="cell-data" id="data2">&nbsp;</div>
                            </td>
                            <td class="" id="td3">
                                <div class="cell-number" id="day3">3</div>
                                <div class="cell-data" id="data3">&nbsp;</div>
                            </td>
                            <td class="" id="td4">
                                <div class="cell-number" id="day4">4</div>
                                <div class="cell-data" id="data4">&nbsp;</div>
                            </td>
                            <td class="" id="td5">
                                <div class="cell-number" id="day5">5</div>
                                <div class="cell-data" id="data5">&nbsp;</div>
                            </td>
                            <td class="" id="td6">
                                <div class="cell-number" id="day6">6</div>
                                <div class="cell-data" id="data6">&nbsp;</div>
                            </td>
                            <td class="" id="td7">
                                <div class="cell-number" id="day7">7</div>
                                <div class="cell-data" id="data7">&nbsp;</div>
                            </td>
                            <td class="" id="td8">
                                <div class="cell-number" id="day8">8</div>
                                <div class="cell-data" id="data8">&nbsp;</div>
                            </td>
                        </tr>
                        <tr>
                            <td class=" cell-weekend " id="td9">
                                <div class="cell-number-white" id="day9">9</div>
                                <div class="cell-data" id="data9">&nbsp;</div>
                            </td>
                            <td class="" id="td10">
                                <div class="cell-number" id="day10">10</div>
                                <div class="cell-data" id="data10">&nbsp;</div>
                            </td>
                            <td class="" id="td11">
                                <div class="cell-number" id="day11">11</div>
                                <div class="cell-data" id="data11">&nbsp;</div>
                            </td>
                            <td class="" id="td12">
                                <div class="cell-number" id="day12">12</div>
                                <div class="cell-data" id="data12">&nbsp;</div>
                            </td>
                            <td class="" id="td13">
                                <div class="cell-number" id="day13">13</div>
                                <div class="cell-data" id="data13">&nbsp;</div>
                            </td>
                            <td class="" id="td14">
                                <div class="cell-number" id="day14">14</div>
                                <div class="cell-data" id="data14">&nbsp;</div>
                            </td>
                            <td class="" id="td15">
                                <div class="cell-number" id="day15">15</div>
                                <div class="cell-data" id="data15">&nbsp;</div>
                            </td>
                        </tr>
                        <tr>
                            <td class=" cell-weekend " id="td16">
                                <div class="cell-number-white" id="day16">16</div>
                                <div class="cell-data" id="data16">&nbsp;</div>
                            </td>
                            <td class="" id="td17">
                                <div class="cell-number" id="day17">17</div>
                                <div class="cell-data" id="data17">&nbsp;</div>
                            </td>
                            <td class="" id="td18">
                                <div class="cell-number" id="day18">18</div>
                                <div class="cell-data" id="data18">&nbsp;</div>
                            </td>
                            <td class="" id="td19">
                                <div class="cell-number" id="day19">19</div>
                                <div class="cell-data" id="data19">&nbsp;</div>
                            </td>
                            <td class="" id="td20">
                                <div class="cell-number" id="day20">20</div>
                                <div class="cell-data" id="data20">&nbsp;</div>
                            </td>
                            <td class="" id="td21">
                                <div class="cell-number" id="day21">21</div>
                                <div class="cell-data" id="data21">&nbsp;</div>
                            </td>
                            <td class="" id="td22">
                                <div class="cell-number" id="day22">22</div>
                                <div class="cell-data" id="data22">&nbsp;</div>
                            </td>
                        </tr>
                        <tr>
                            <td class=" cell-weekend " id="td23">
                                <div class="cell-number-white" id="day23">23</div>
                                <div class="cell-data" id="data23">&nbsp;</div>
                            </td>
                            <td class="" id="td24">
                                <div class="cell-number" id="day24">24</div>
                                <div class="cell-data" id="data24">&nbsp;</div>
                            </td>
                            <td class="" id="td25">
                                <div class="cell-number" id="day25">25</div>
                                <div class="cell-data" id="data25">&nbsp;</div>
                            </td>
                            <td class="" id="td26">
                                <div class="cell-number" id="day26">26</div>
                                <div class="cell-data" id="data26">&nbsp;</div>
                            </td>
                            <td class="" id="td27">
                                <div class="cell-number" id="day27">27</div>
                                <div class="cell-data " id="data27">&nbsp;</div>
                            </td>
                            <td class="" id="td28">
                                <div class="cell-number" id="day28">28</div>
                                <div class="cell-data" id="data28">&nbsp;</div>
                            </td>
                            <td class="" id="td29">
                                <div class="cell-number" id="day29">29</div>
                                <div class="cell-data" id="data29">&nbsp;</div>
                            </td>
                        </tr>
                        <tr>
                            <td class=" cell-weekend " id="td30">
                                <div class="cell-number-white" id="day30">30</div>
                                <div class="cell-data" id="data30">&nbsp;</div>
                            </td>
                            <td class="" id="td31">
                                <div class="cell-number" id="day31">31</div>
                                <div class="cell-data" id="data31">&nbsp;</div>
                            </td>
                            <td class="">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="">&nbsp;</td>
                        </tr>
                    </tbody>
            </table>
            
            
            <!--<div style="width:90%; margin:auto; text-align:center; margin-top:20px;">
                <h3 class="simple">No hay actividades definidas en este a&ntilde;o y mes.</h3>
            </div>-->
        </div>
        <!--informacionContent-->
        <div class="col-md-4">

            <div class="gdl-custom-sidebar">
                <h3 class="gdl-custom-sidebar-title-m">Convocatorias Vigentes</h3>
            </div>
            <div class="gdl-custom-sidebar">
                <a href="http://www.fulbright.edu.co/#?page_name=Interna&idFile=91&cssColor=2&idMap=18"><button class="ufps-btn-accordionlike">FULBRIGHT</button></a>
                <a href="https://portal.icetex.gov.co/Portal/Home/HomeEstudiante/becas/becas-para-estudios-en-el-exterior/becas-vigentes/"><button
                        class="ufps-btn-accordionlike">ICETEX</button></a>
                <a href="http://www.oas.org/es/temas/becas.asp"><button class="ufps-btn-accordionlike">OEA</button></a>

            </div>

            <div style="clear:both;"></div>

            <div style="clear:both; min-height:26px;">
            </div>
        </div>
        <!--col-md-4-->
    </div><!-- row margin-bottom-30-->
</div>
<!--container content profile-->

<script src="js/modules/events/eventSecond.events.js" type="text/javascript"></script>