<div class="container content profile" style="position: relative;">
    <div class="row margin-bottom-30">
        <h1 style="margin-bottom:20px; border-bottom: 3px solid #aa1916; padding: 0;">Seccion de contactos</h1>

        <div class="jumbotron container-jumbotron">
            
            <div class="row">
                <div class="content-iframe col-sm-8">
                    <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.9607444403227!2d-72.48967808517467!3d7.8991702078333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6645102f9b7269%3A0xab4b03ed6c85830e!2sUniversidad+Francisco+de+Paula+Santander!5e0!3m2!1ses!2sco!4v1542860059331"
                        width="700" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <div class="col-sm-4" class="contact2">
                    <h4 class="pt-2" style="margin: 5px 0px">Localizacion universidad</h4>
                    <i class="fas fa-university"></i><span>Avenida Gran Colombia</span><br>
                    <i class=""></i> <span>No. 12E-96 Barrio Colsag,</span><br>
                    <i class=""></i> <span>San José de Cúcuta - Colombia</span><br>
                    <h4 class="pt-2" style="margin: 5px 0px">Localizacion ORI</h4>
                    <i class="fas fa-globe" style="color:#000"></i><span id="localizacion-ori"></span><br>
                    <h4 class="pt-2" style="margin: 5px 0px">Telefono</h4>
                    <i class="fas fa-phone-square" style="color:#000"></i><span id="telefono-contacto"></span><br>
                    <h4 class="pt-2" style="margin: 5px 0px">Correo</h4>
                    <i class="fas fa-at" style="color:#000"></i> <span id="correo-contacto"></span><br>
                    <h4 class="pt-2" style="margin: 5px 0px">Redes sociales</h4>
                    <div class="col-md-4">
                        <ul class="list-inline dark-social pull-right space-bottom-0"></ul>
                        <li>
                            <a id="fb-contacto" data-placement="top" data-toggle="tooltip" class="tooltips"
                                data-original-title="Facebook" href="" target="_blank">
                                <span style="display:flex; justify-content:center; align-items:center;" ><i class="fab fa-facebook"></i><span style="margin-left: 5px">Facebook</span></span>
                            </a>
                        </li>
                        <li>
                            <a id="fb-twitter" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Twitter"
                                href="" target="_blank">
                                <span style="display:flex; justify-content:center; align-items:center;" ><i class="fab fa-twitter"></i><span style="margin-left: 5px">Twitter</span></span>                                
                            </a>
                        </li>
                        <li>
                            <a id="fb-instagram" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Instagram"
                                href="" target="_blank">
                                <span style="display:flex; justify-content:center; align-items:center;" ><i class="fab fa-instagram"></i><span style="margin-left: 5px">Instagram</span></span>                                
                            </a>
                        </li>
                        <li>
                            <a id="fb-youtube" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Youtube"
                                href="" target="_blank">
                                <span style="display:flex; justify-content:center; align-items:center;" ><i class="fab fa-youtube"></i><span style="margin-left: 5px">Youtube</span></span>                                
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/modules/contactos/contacts.events.js"></script>