<div class="container content profile" style="position: relative;">
    <div class="row margin-bottom-30">       
        <h1 style="margin-bottom:20px; border-bottom: 3px solid #aa1916; padding: 0;">Mapa de convenios</h1>
        <div id="regions_div" class="div_in_regions_div"></div>

        <div class="modal fade " id="my-modal" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 id="title-pais" class="modal-title"></h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="section__content section__content--p30">
                                <div class="container-fluid">
                                    <!-- DATA TABLE-->
                                    <div class="table-responsive m-b-40">
                                        <table id="agreement-unique-table" class="display table table-striped table-details-new table-borderless"
                                            cellspacing="0" width="100%">
                                    </div>
                                    <!-- END DATA TABLE-->
                                </div>
                            </div>
                            </table>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <!--<div class="modal-footer">                
                <button id="" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-dot-circle-o"></i> Cerrar</button>
            </div>-->

                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/modules/convenios/convenio.events.js" type="text/javascript"></script>