<!--Contenido-->
<div class="container content profile">
    <div class="row margin-bottom-30">
        <div id="informacionContent" class="col-md-8 mb-margin-bottom-30 shadow-wrapper">
            <!--Entra a html_noticias-->
            <!--Antes de acceder a la base de datos-->
            <!--Despues de acceder a la base de datos-->
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px; border-bottom: 3px solid #aa1916; padding: 0;">
                <h1 class="pull-left" style="font-size:36px;">Experiencias</h1>
            </div>

            <div id="contenedor-experiencias-second">
                <!--Experiencia 1
                <div class="items-row cols-171 row-0">
                    <div class="item-information column-1">
                        <div class="img-intro-right">
                            <img onclick="openModalImage('modal171')" src="rsc/img/galeria1.jpg" alt="" class="imgInformacion">
                        </div>
                        <div class="float_content">
                            <h1 class="tituloinformacion">
                                <a class="anchorinformacion" href="#">
                                    William Armesto, estudiante del programa de Derecho UFPS en la Universidad Nacional
                                    del
                                    Sur
                                </a>
                            </h1>
                            <p class="Standard" style="text-align: justify;">William Armesto, estudiante del programa
                                de
                                Derecho quien actualmente cursa su semestre de movilidad en la Universidad Nacional del
                                Sur
                                UNS gracias a la beca otorgada en el marco del Programa de Movilidad Académica Colombia
                                –
                                Argentina MACA; nos comparte fotografías de su experiencia académica y cultural en
                                Argentina.
                                <br><br>
                                “Desde mi arribo a la República Argentina y posterior llegada a la ciudad de Bahía
                                Blanca,
                                mi travesía de movilidad internacional inicio sin mayores contratiempos y siendo la
                                mejor
                                experiencia que un estudiante universitario podría vivir, que con el transcurrir de los
                                días y de los meses termino de confirmarlo y disfrutarla al máximo”</p>
                            <p class="Standard" style="text-align: justify;">&nbsp;</p>
                        </div>
                        <div style="clear:both"></div>
                        <p class="readmore">
                            <a href="https://ww2.ufps.edu.co/ueventos/resultados_ori_i2019">
                                Leer más...</a>
                        </p>
                        <div style="clear:both"></div>
                        <span class="row-separator"></span>
                    </div>
                </div>

                <!--Experiencia 2
                <div class="items-row cols-167 row-0">
                    <div class="item-information column-1">
                        <div class="img-intro-right">
                            <img onclick="openModalImage('modal167')" src="rsc/img/galeria2.jpg" alt="" class="imgInformacion">
                        </div>
                        <div class="float_content">
                            <h1 class="tituloinformacion">
                                <a class="anchorinformacion" href="#">
                                    María Carreño del Programa de Ingeniería Ambiental UFPS en el Instituto Tecnológico
                                    Superior de Tantoyuca
                                </a>
                            </h1>
                            <p style="text-align: justify;">Nuestra estudiante María Carreño del Programa de Ingeniería
                                Ambiental, cursa este semestre en el Instituto Tecnológico Superior de Tantoyuca ITSTA,
                                gracias a la beca otorgada en el marco del Programa de Movilidad Académica Colombia –
                                México MACMEX; nos comparte fotografías de su experiencia académica y cultural en
                                México.
                                <br><br>
                                “deseo de todo corazón sirva de motivación para que los demás compañeros de nuestra
                                institución aprovechen esta oportunidad”</p>
                        </div>
                        <div style="clear:both"></div>
                        <p class="readmore">
                            <a href="#">
                                Leer más...</a>
                        </p>
                        <div style="clear:both"></div>
                        <span class="row-separator"></span>
                    </div>
                </div>

            -->
            </div>




        </div>
        <!--informacionContent-->

        <div class="col-md-4">
            <div id="proximasContent" class="gdl-custom-sidebar gdl-custom-sidebar">
                <h3 class="gdl-custom-sidebar-title-m">Actividades de esta semana<div class="ufps-tooltip" style="float:right;"><span
                            style="float:right;"><a href="./index.php?modulo=calendarios"><img src="rsc/img/calendar.png"></a></span><span
                            class="ufps-tooltip-content-left" style="font-size:14px; font-weight:normal; margin-right:5px;">Ir
                            al calendario</span></div>
                </h3>
                <div id="browseweek" class="browseweek" style="background:#424242; min-height:25px; width:100%; margin:auto; margin-bottom:0px;">
                    <div class="ufps-tooltip">
                        <div style="margin-left:2px; margin-right:2px; float:left; top:0px; left:0px; width:25px;"><img
                                src="rsc/img/rewind.png" style="cursor:pointer;" onclick="WeekDirection(0, -1, 'right');"></div><span
                            class="ufps-tooltip-content-right">Semana anterior</span>
                    </div>
                    <div class="ufps-tooltip" style="float:right;">
                        <div style="margin-left:2px; margin-right:2px; float:right; top:0px; right:0px; width:25px;"><img
                                src="rsc/img/forward.png" style="cursor:pointer;" onclick="WeekDirection(0, +1, 'right');"></div><span
                            class="ufps-tooltip-content-left">Semana siguiente</span>
                    </div>
                </div>
                <span style="text-align:center;">
                    <h3 class="simple" style="margin-top:20px; color:#dd1617;">No hay actividades para mostrar</h3>
                </span>
                <div class="clear" style="height:10px;"></div>
            </div>
            <!--proximasContent-->

            <div class="gdl-custom-sidebar">
                <h3 class="gdl-custom-sidebar-title-m">Convocatorias Vigentes</h3>
            </div>
            <div class="gdl-custom-sidebar">
                <a href="http://www.fulbright.edu.co/#?page_name=Interna&idFile=91&cssColor=2&idMap=18"><button class="ufps-btn-accordionlike">FULBRIGHT</button></a>
                <a href="https://portal.icetex.gov.co/Portal/Home/HomeEstudiante/becas/becas-para-estudios-en-el-exterior/becas-vigentes/"><button
                        class="ufps-btn-accordionlike">ICETEX</button></a>
                <a href="http://www.oas.org/es/temas/becas.asp"><button class="ufps-btn-accordionlike">OEA</button></a>

            </div>


        </div>
        <!--col-md-4-->
    </div><!-- row margin-bottom-30-->
</div>
<!--container content profile-->

<script src="js/modules/experiences/experienceSecond.events.js" type="text/javascript"></script>