<!--<div class="container content profile" style="position: relative;">
  <div class="row margin-bottom-30">
    <h1 style="margin-bottom:20px; border-bottom: 3px solid #aa1916; padding: 0;">Formularios</h1>

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>


  </div>
</div> -->
<!--TODO: Acomodar formularios, su espacio y su visualizacion-->
<div class="container content profile" style="position: relative;">
  <div class="row margin-bottom-30">
    <h1 style="margin-bottom:20px; border-bottom: 3px solid #aa1916; padding: 0;">Tipo de Formularios</h1>
    <div class="row">      
      <p class="lead">
        En esta seccion seran solicitados los datos del aspirante a movilidad, ya sea docente o estudiante.<br />
        <small class="text-muted">Para llevar a cabo un procedimiento real, ir al siguiente <a href="http://cinera.ufps.edu.co/interufps/index.php?option=com_content&view=article&id=70&Itemid=84"
            target="blank">link</a></small>
      </p>

      <div class="alert alert-warning">
        <h4>Importante</h4>
        Los datos solicitados en esta seccion solo son para la demostracion de como sera el sitio web en un futuro, con la integracion del sistema de informacion ORII.
        Se utiliza informacion de un proceso de APLICACION ESTUDIANTES EXTRANJEROS DE INTERCAMBIO ESTUDIANTIL.
      </div>

      <hr />

      <div class="row">
        <div class="col-sm-8">

          <h4 class="page-header">Datos Personales</h4>
          <form role="form">
            <div class="form-group float-label-control">
              <label for="">Nombres</label>
              <input type="text" class="form-control" placeholder="Nombres">
            </div>
            <div class="form-group float-label-control">
              <label for="">Documento</label>
              <input type="number" class="form-control" placeholder="Documento">
            </div>
            <div class="form-group float-label-control">
              <label for="">Telefono movil</label>
              <input type="number" class="form-control" placeholder="Telefono movil">
            </div>
            <div class="form-group float-label-control">
              <label for="">Correo electronico</label>
              <input type="email" class="form-control" placeholder="Correo electronico">
            </div>
          </form>


          <h4 class="page-header">Informacion academica</h4>
          <form role="form">
            <div class="form-group float-label-control label-bottom">
              <label for="">Programa academico</label>
              <input type="text" class="form-control" placeholder="Programa academico">
            </div>
            <div class="form-group float-label-control label-bottom">
              <label for="">Semestre actual</label>
              <input type="text" class="form-control" placeholder="Semestre actual">
            </div>
            <div class="form-group float-label-control label-bottom">
              <label for="">Promedio acumulado</label>
              <input type="text" class="form-control" placeholder="Promedio acumulado">
            </div>
          </form>


          <h4 class="page-header">Motivaciones</h4>
          <form role="form">
            <div class="form-group float-label-control">
              <label for="">Descripcion</label>
              <input type="text" class="form-control" placeholder="Descripcion">
            </div>
          </form>

          <form role="form">
              <button type="button" class="btn btn-lg btn-block btn-success" style="font-size: 20px">Completado!</button>
            </form>


        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Informacion real
              </h3>
            </div>
            <div class="panel-body">
              <p>Para la APLICACION ESTUDIANTES EXTRANJEROS DE INTERCAMBIO ESTUDIANTIL realmente se requiere:</p>
              <ul>
                <li> Informacion del estudiante</li>
                <li> Informacion del familiar</li>
                <li> Informacion academica</li>
                <li> Informacion de intercambio</li>
                <li> Motivaciones</li>
                <li> Informacion financiera</li>
                <li> Compromiso</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .float-label-control {
    position: relative;
    margin-bottom: 1.5em;
  }

  .float-label-control ::-webkit-input-placeholder {
    color: transparent;
  }

  .float-label-control :-moz-placeholder {
    color: transparent;
  }

  .float-label-control ::-moz-placeholder {
    color: transparent;
  }

  .float-label-control :-ms-input-placeholder {
    color: transparent;
  }

  .float-label-control input:-webkit-autofill,
  .float-label-control textarea:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -moz-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
  }

  .float-label-control input,
  .float-label-control textarea,
  .float-label-control label {
    font-size: 1.3em;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .float-label-control input:focus,
  .float-label-control textarea:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom-width: 2px;
    padding-bottom: 0;
  }

  .float-label-control textarea:focus {
    padding-bottom: 4px;
  }

  .float-label-control input,
  .float-label-control textarea {
    display: block;
    width: 100%;
    padding: 0.1em 0em 1px 0em;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #aaa;
    outline: none;
    margin: 0px;
    background: none;
  }

  .float-label-control textarea {
    padding: 0.1em 0em 5px 0em;
  }

  .float-label-control label {
    position: absolute;
    font-weight: normal;
    top: -1.0em;
    left: 0.08em;
    color: #aaaaaa;
    z-index: -1;
    font-size: 0.85em;
    -moz-animation: float-labels 300ms none ease-out;
    -webkit-animation: float-labels 300ms none ease-out;
    -o-animation: float-labels 300ms none ease-out;
    -ms-animation: float-labels 300ms none ease-out;
    -khtml-animation: float-labels 300ms none ease-out;
    animation: float-labels 300ms none ease-out;
    /* There is a bug sometimes pausing the animation. This avoids that.*/
    animation-play-state: running !important;
    -webkit-animation-play-state: running !important;
  }

  .float-label-control input.empty+label,
  .float-label-control textarea.empty+label {
    top: 0.1em;
    font-size: 1.5em;
    animation: none;
    -webkit-animation: none;
  }

  .float-label-control input:not(.empty)+label,
  .float-label-control textarea:not(.empty)+label {
    z-index: 1;
  }

  .float-label-control input:not(.empty):focus+label,
  .float-label-control textarea:not(.empty):focus+label {
    color: #aaaaaa;
  }

  .float-label-control.label-bottom label {
    -moz-animation: float-labels-bottom 300ms none ease-out;
    -webkit-animation: float-labels-bottom 300ms none ease-out;
    -o-animation: float-labels-bottom 300ms none ease-out;
    -ms-animation: float-labels-bottom 300ms none ease-out;
    -khtml-animation: float-labels-bottom 300ms none ease-out;
    animation: float-labels-bottom 300ms none ease-out;
  }

  .float-label-control.label-bottom input:not(.empty)+label,
  .float-label-control.label-bottom textarea:not(.empty)+label {
    top: 3em;
  }


  @keyframes float-labels {
    0% {
      opacity: 1;
      color: #aaa;
      top: 0.1em;
      font-size: 1.5em;
    }

    20% {
      font-size: 1.5em;
      opacity: 0;
    }

    30% {
      top: 0.1em;
    }

    50% {
      opacity: 0;
      font-size: 0.85em;
    }

    100% {
      top: -1em;
      opacity: 1;
    }
  }

  @-webkit-keyframes float-labels {
    0% {
      opacity: 1;
      color: #aaa;
      top: 0.1em;
      font-size: 1.5em;
    }

    20% {
      font-size: 1.5em;
      opacity: 0;
    }

    30% {
      top: 0.1em;
    }

    50% {
      opacity: 0;
      font-size: 0.85em;
    }

    100% {
      top: -1em;
      opacity: 1;
    }
  }

  @keyframes float-labels-bottom {
    0% {
      opacity: 1;
      color: #aaa;
      top: 0.1em;
      font-size: 1.5em;
    }

    20% {
      font-size: 1.5em;
      opacity: 0;
    }

    30% {
      top: 0.1em;
    }

    50% {
      opacity: 0;
      font-size: 0.85em;
    }

    100% {
      top: 3em;
      opacity: 1;
    }
  }

  @-webkit-keyframes float-labels-bottom {
    0% {
      opacity: 1;
      color: #aaa;
      top: 0.1em;
      font-size: 1.5em;
    }

    20% {
      font-size: 1.5em;
      opacity: 0;
    }

    30% {
      top: 0.1em;
    }

    50% {
      opacity: 0;
      font-size: 0.85em;
    }

    100% {
      top: 3em;
      opacity: 1;
    }
  }
</style>

<script>
  /* Float Label Pattern Plugin for Bootstrap 3.1.0 by Travis Wilson
 **************************************************/

  (function ($) {
    $.fn.floatLabels = function (options) {

      // Settings
      var self = this;
      var settings = $.extend({}, options);


      // Event Handlers
      function registerEventHandlers() {
        self.on('input keyup change', 'input, textarea', function () {
          actions.swapLabels(this);
        });
      }


      // Actions
      var actions = {
        initialize: function () {
          self.each(function () {
            var $this = $(this);
            var $label = $this.children('label');
            var $field = $this.find('input,textarea').first();

            if ($this.children().first().is('label')) {
              $this.children().first().remove();
              $this.append($label);
            }

            var placeholderText = ($field.attr('placeholder') && $field.attr('placeholder') != $label.text()) ? $field.attr('placeholder') : $label.text();

            $label.data('placeholder-text', placeholderText);
            $label.data('original-text', $label.text());

            if ($field.val() == '') {
              $field.addClass('empty')
            }
          });
        },
        swapLabels: function (field) {
          var $field = $(field);
          var $label = $(field).siblings('label').first();
          var isEmpty = Boolean($field.val());

          if (isEmpty) {
            $field.removeClass('empty');
            $label.text($label.data('original-text'));
          }
          else {
            $field.addClass('empty');
            $label.text($label.data('placeholder-text'));
          }
        }
      }


      // Initialization
      function init() {
        registerEventHandlers();

        actions.initialize();
        self.each(function () {
          actions.swapLabels($(this).find('input,textarea').first());
        });
      }
      init();


      return this;
    };

    $(function () {
      $('.float-label-control').floatLabels();
    });
  })(jQuery);
</script>