<!--SLIDER-->
<div class="row no-margin">
    <div class="col-md-12 no-padding">
        <div class="pgwSlider wide">
            <div class="ps-current" style="height: 412px;">
                <ul>
                    <li class="elt_1" style="opacity: 1; z-index: 2; display: list-item;"><a href="https://ww2.ufps.edu.co/unoticia/-congreso-ingenieria-ambiental-"><img
                                src="https://ww2.ufps.edu.co/public/imagenes/noticia/f59ccb0c8b9eb1b73763c70aa6460176.jpg"
                                alt="I Congreso Internacional de Ingeniería Ambiental, un espacio para la internacionalización del currículo académico"></a></li>
                    <li class="elt_2" style="display: none; opacity: 0; z-index: 1;"><a href="https://ww2.ufps.edu.co/unoticia/taller_calidad_eduativa_ufps"><img
                                src="https://ww2.ufps.edu.co/public/imagenes/noticia/3ea676052ea08284b59d5abbb93bbf20.jpg"
                                alt="Taller: Herramientas pedagógicas para el acceso y calidad educativa, iniciativa de extensión UFPS"></a></li>
                    <li class="elt_3" style="display: none; opacity: 0; z-index: 1;"><a href="https://ww2.ufps.edu.co/unoticia/-semana-ciencia-tecnologia-innovacion-"><img
                                src="https://ww2.ufps.edu.co/public/imagenes/noticia/de7b9a1c1765c21639c4d4a1b1ab4d11.jpg"
                                alt="Seis Universidades de la región serán escenario de la 5ta. Semana Internacional de Ciencia, Tecnología e Innovación 2018"></a></li>
                    <li class="elt_4" style="display: none; opacity: 0; z-index: 1;"><a href="https://ww2.ufps.edu.co/unoticia/ufps-innovatic-2018"><img
                                src="https://ww2.ufps.edu.co/public/imagenes/noticia/6f1ed4a1619e480c8bbfc293f44022ad.jpg"
                                alt="UFPS presente en la Semana de Transformación Digital - INNOVATIC 2018"></a></li>
                </ul><span class="ps-caption" style="display: inline;"><a href="https://ww2.ufps.edu.co/unoticia/-congreso-ingenieria-ambiental-"><b>I
                            Congreso Internacional de Ingeniería Ambiental, un espacio para la internacionalización del
                            currículo académico</b></a></span>
            </div>
            <ul class="ps-list" style="display: block;">
                <li class="elt_1" style="cursor: pointer; opacity: 1; width: 25%; height: 98.5px;">
                    <a href="https://ww2.ufps.edu.co/unoticia/-congreso-ingenieria-ambiental-"><img src="https://ww2.ufps.edu.co/public/imagenes/noticia/f59ccb0c8b9eb1b73763c70aa6460176.jpg"
                            alt="I Congreso Internacional de Ingeniería Ambiental, un espacio para la internacionalización del currículo académico"
                            style="margin-top: -1px;"><span style="font-family: inherit; font-weight: bold;">I Congreso
                            Internacional de Ingeniería Ambiental, un espacio para la internacionalización del
                            currículo académico</span></a>
                </li>
                <li class="elt_2" style="cursor: pointer; width: 25%; height: 98.5px; opacity: 0.6;">
                    <a href="https://ww2.ufps.edu.co/unoticia/taller_calidad_eduativa_ufps"><img src="https://ww2.ufps.edu.co/public/imagenes/noticia/3ea676052ea08284b59d5abbb93bbf20.jpg"
                            alt="Taller: Herramientas pedagógicas para el acceso y calidad educativa, iniciativa de extensión UFPS"
                            style="margin-top: -1px;"><span style="font-family: inherit; font-weight: bold;">Taller:
                            Herramientas pedagógicas para el acceso y calidad educativa, iniciativa de extensión UFPS</span></a>
                </li>
                <li class="elt_3" style="cursor: pointer; width: 25%; height: 98.5px; opacity: 0.6;">
                    <a href="https://ww2.ufps.edu.co/unoticia/-semana-ciencia-tecnologia-innovacion-"><img src="https://ww2.ufps.edu.co/public/imagenes/noticia/de7b9a1c1765c21639c4d4a1b1ab4d11.jpg"
                            alt="Seis Universidades de la región serán escenario de la 5ta. Semana Internacional de Ciencia, Tecnología e Innovación 2018"
                            style="margin-top: -1px;"><span style="font-family: inherit; font-weight: bold;">Seis
                            Universidades de la región serán escenario de la 5ta. Semana Internacional de Ciencia,
                            Tecnología e Innovación 2018</span></a>
                </li>
                <li class="elt_4" style="cursor: pointer; width: 25%; height: 98.5px; opacity: 0.6;">
                    <a href="https://ww2.ufps.edu.co/unoticia/ufps-innovatic-2018"><img src="https://ww2.ufps.edu.co/public/imagenes/noticia/6f1ed4a1619e480c8bbfc293f44022ad.jpg"
                            alt="UFPS presente en la Semana de Transformación Digital - INNOVATIC 2018" style="margin-top: -1px;"><span
                            style="font-family: inherit; font-weight: bold;">UFPS presente en la Semana de
                            Transformación Digital - INNOVATIC 2018</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--EVENTOS-->

<div style="background-color: #e8e8e8; ">
    <div class="container content-prin profile">
        <div class="row margin-top-10">
            <div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
                <h1 style="font-size: 30px;"><b>Eventos</b></h1>
                <span class="bordered-icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
            </div>
            <div class="col-md-12">
                <div class="row equal-height-columns margin-bottom-10">

                    <div class="container">
                        <div class="owl-carousel-v1 owl-work-v1 margin-bottom-40">
                            <div class="owl-recent-works-v1 owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper" style="width: 9690px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-285px, 0px, 0px);">
                                        <!--Primer elemento no se muestra, esta definido por quien hizo la plantilla-->
                                        <div class="owl-item" style="width: 285px;">
                                            <div class="item">
                                                <a href="/ueventos/-congreso-ambiental-" style="text-align: center;">
                                                    <div class="easy-block-v1-badge rgba-red" style="color:#fff; padding: 5px;">
                                                        Fecha</div>
                                                    <em class="overflow-hidden">
                                                        <img class="img-responsive" src=""
                                                            alt="Imagen de eventos">
                                                    </em>
                                                    <span>
                                                        <strong>Nombre</strong>
                                                        <i>Lugar</i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div id="contenedor-eventos">
                                            <!-- <div class="owl-item" style="width: 285px;">
                                                <div class="item">
                                                    <a href="/ueventos/-ingeniero-agronomo-" style="text-align: center;">
                                                        <div class="easy-block-v1-badge rgba-blue" style="color:#fff; padding: 5px;">
                                                            26 y 27 de noviembre de 2018 </div>
                                                        <em class="overflow-hidden">
                                                            <img class="img-responsive" src="https://ww2.ufps.edu.co/public/imagenes/eventos/5b3686c8b2659d54c8d4454f787cea00.jpg"
                                                                alt="Imagen de eventos">
                                                        </em>
                                                        <span>
                                                            <strong>Día del Ingeniero Agrónomo</strong>
                                                            <i>Lugar: Ver información</i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 285px;">
                                                <div class="item">
                                                    <a href="/ueventos/apira_sexta_version" style="text-align: center;">
                                                        <div class="easy-block-v1-badge rgba-purple" style="color:#fff; padding: 5px;">
                                                            Del 28 al 30 de noviembre </div>
                                                        <em class="overflow-hidden">
                                                            <img class="img-responsive" src="https://ww2.ufps.edu.co/public/imagenes/eventos/d0960c8cb39cbf03ecfdcc54c5644c98.jpg"
                                                                alt="Imagen de eventos">
                                                        </em>
                                                        <span>
                                                            <strong>Sexta versión APIRA</strong>
                                                            <i>Lugar: Edificio SG - Comunicación Social</i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 285px;">
                                                <div class="item">
                                                    <a href="http://giret.ufps.edu.co/academiacisco/webpages/" style="text-align: center;">
                                                        <div class="easy-block-v1-badge rgba-default" style="color:#fff; padding: 5px;">
                                                            Inscripciones abiertas </div>
                                                        <em class="overflow-hidden">
                                                            <img class="img-responsive" src="https://ww2.ufps.edu.co/public/imagenes/eventos/7352b3bc07d4cc763933726fa38ce8e0.jpg"
                                                                alt="Imagen de eventos">
                                                        </em>
                                                        <span>
                                                            <strong>Curso de certificación CISCO CCNA R&amp;S V6.0 </strong>
                                                            <i>Lugar: UFPS</i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 285px;">
                                                <div class="item">
                                                    <a href="https://evaldocente.ufps.edu.co/admitidos/" style="text-align: center;">
                                                        <div class="easy-block-v1-badge rgba-red" style="color:#fff; padding: 5px;">
                                                            Ver información </div>
                                                        <em class="overflow-hidden">
                                                            <img class="img-responsive" src="https://ww2.ufps.edu.co/public/imagenes/eventos/de4adfda8259a823345b3e16f5265b97.jpg"
                                                                alt="Imagen de eventos">
                                                        </em>
                                                        <span>
                                                            <strong>Listado de Admitidos I Sem. de 2019</strong>
                                                            <i>Lugar: Ver información</i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="#/agenda" class="btn-u btn-brd btn-brd-hover btn-u-light btn-u-sm pull-right tooltips"
                                data-toggle="tooltip" data-placement="left" data-original-title="Más Novedades Anteriores">Ver
                                más <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<!-- ACTIVIDADES -->
<div style="background-color: #b43432; padding-bottom:10px;">
    <div class="container content-prin profile">
        <div class="row margin-bottom-10 margin-top-10">
            <div class="headline-center-v2 margin-bottom-10">
                <h1 style="font-size: 30px; color:#fff;"><b>Pr&oacute;ximas actividades</b></h1>
                <span class="bordered-icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
            </div>
            <!--<div class="col-sm-3">
                <div class="service-block-v1 md-margin-bottom-50" style="background: #fff; border-top: 5px solid #f1c40f;">
                    <i class="icon-custom icon-lg rounded-x icon-color-yellow icon-line fa fa-bookmark" style="background: #fff;"></i>
                    <h5 class="title-v3-bg text-uppercase">
                        <b></b></h5>
                    <p id="fecha_evento">Esta actividad se desarrollar&aacute; el 1 de noviembre</p>
                </div>
            </div>-->

            <div class="col-sm-4">
                <div class="service-block-v1 md-margin-bottom-50" style="background: #fff; border-top: 5px solid #f1c40f;">
                    <i class="icon-custom icon-lg rounded-x icon-color-yellow icon-line fa fa-link" style="background: #fff;"></i>
                    <h5 class="title-v3-bg text-uppercase"><a href="/udestacado/jurados_administrativos_electoral"
                            style="text-transform:none; color:#464646;"><b>Lista de Jurados de Administrativos Proceso
                                Electoral 23 y 24 de noviembre 2018.</b></a>
                    </h5>
                    <p>
                        lunes ,
                        19 noviembre 2018 </p>
                    <a href="/udestacado/jurados_administrativos_electoral"><b>Leer
                            más</b></a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="service-block-v1 md-margin-bottom-50" style="background: #fff; border-top: 5px solid #f1c40f;">
                    <i class="icon-custom icon-lg rounded-x icon-color-yellow icon-line fa fa-link" style="background: #fff;"></i>
                    <h5 class="title-v3-bg text-uppercase"><a href="/udestacado/jurados_administrativos_electoral"
                            style="text-transform:none; color:#464646;"><b>Lista de Jurados de Administrativos Proceso
                                Electoral 23 y 24 de noviembre 2018.</b></a>
                    </h5>
                    <p>
                        lunes ,
                        19 noviembre 2018 </p>
                    <a href="/udestacado/jurados_administrativos_electoral"><b>Leer
                            más</b></a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="service-block-v1 md-margin-bottom-50" style="background: #fff; border-top: 5px solid #e74c3c;">
                    <i class="icon-custom icon-lg rounded-x icon-color-red icon-line fa fa-link" style="background: #fff;"></i>
                    <h5 class="title-v3-bg text-uppercase"><a href="/udestacado/jurados_estudiantes" style="text-transform:none; color:#464646;"><b>Lista
                                de Jurados de Estudiantes Proceso Electoral 23 y 24 de noviembre 2018.</b></a>
                    </h5>
                    <p>
                        lunes ,
                        19 noviembre 2018 </p>
                    <a href="/udestacado/jurados_estudiantes"><b>Leer
                            más</b></a>
                </div>
            </div>

        </div>
        <!--/row-->
        <a href="/udestacado/listado_destacados/" class="btn-u btn-brd btn-brd-hover btn-u-light btn-u-sm pull-right tooltips"
            data-toggle="tooltip" data-placement="left" data-original-title="Más Novedades Anteriores">Ver
            más <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
    </div>
</div>

<!-- EXPERIENCIAS -->
<div style="clear:both;"></div>
<div style="background-color: #d4d4d4;">
    <div class="container content-prin profile">
        <div class="row margin-top-10">
            <div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
                <h1 class="shop-h1" style="font-size: 30px; color:#444;"><b>Experiencias</b></h1>
                <span class="bordered-icon" style="color:#444;"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
            </div>
            <div class="col-md-12">
                <div class="row equal-height-columns margin-bottom-10">
                    <div class="container">
                        <ul id="contenedor-experiencias" class="row block-grid-v2">
                            <!--Experiencia 1-->
                            <!-- <li class="col-md-2 col-sm-3 col-xs-6 md-margin-bottom-30" style="padding-left: 14px;">
                                <div class="easy-block-v1">
                                    <a href="./index.php?modulo=detallegaleria&idgale=40">
                                        <img src="rsc/img/galeria1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="block-grid-v2-info rounded-bottom  bloques_eventos">
                                    <h5>
                                        <b><a href="index.php?modulo=detallegaleria&idgale=40">William Armesto
                                                del programa de Derecho en la Universidad Nacional del Sur</a></b>
                                    </h5>
                                </div>
                            </li> -->
                        </ul>
                        <a href="#/experiencias" class="btn-u btn-brd btn-brd-hover btn-u-light btn-u-sm pull-right tooltips"
                            data-toggle="tooltip" data-placement="left" data-original-title="Más Novedades Anteriores">Ver
                            más <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ICONOS REDES SOCIALES -->
<div id="idcuadroredes" class="cuadroredes" style="height: 190px">
    <div style="text-align:center; vertical-align:middle; font-size:1.25em; cursor:pointer; margin: 4px; padding: 0px; border-bottom: 1px dotted #666;"
        onclick="document.getElementById('idcuadroredes').style.display = 'none';"><i class="icon-close"></i>
    </div>
    <ul class="social-icons social-icons-color margin-top-10">
        <li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Síguenos en Facebook"><a
                href="https://www.facebook.com/UFPS-C%C3%BAcuta-553833261409690" class="rounded social_facebook"></a>
        </li>
        <li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Síguenos en Twitter"><a
                href="https://twitter.com/UFPSCUCUTA" class="rounded social_twitter"></a>
        </li>
        <li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Síguenos en YouTube"><a
                href="https://www.youtube.com/channel/UCgPz-qqaAk4lbHfr0XH3k2" class="rounded social_youtube"></a>
        </li>
        <li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Síguenos en Instagram"><a
                href="https://www.instagram.com/ufpscucuta/" class="rounded social_instagram"></a>
        </li>
    </ul>
</div>
<!-- FIN ICONOS REDES SOCIALES -->

<script src="js/modules/experiences/experienceFirst.events.js" type="text/javascript"></script>
<script src="js/modules/events/eventFirst.events.js" type="text/javascript"></script>