<div class="container content profile" style="position: relative;">
    <div class="row margin-bottom-30">
        <div id="informacionContent" class="col-md-8 mb-margin-bottom-30 shadow-wrapper">
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px; border-bottom: 3px solid #aa1916; padding: 0;">
                <h1 class="pull-left" style="font-size:36px;">Informacion en genereal sobre la ORII</h1>
            </div>
            
                <div class="row">
                    <div class="col-md-12">
                        <div class="news-v3 bg-color-white col-md-6 col-sm-12 col-xs-12">
                            <!-- video -->
                            <div class="margin-bottom-20">
                                <span>Multimedia: </span>

                                <a rel="shadowbox;width=400;height=300" style="color:#687074;" title="" href="https://ww2.ufps.edu.co/public/videos/noticias/comunicado_005.swf"><i
                                        class="fa fa-video-camera"></i> Video </a>

                            </div>
                            <img class="img-responsive" src="https://ww2.ufps.edu.co/public/imagenes/noticia/comunicado_005_grande.png"
                                alt="">
                        </div>
                        <!-- End Imagen -->
                        <div class="text-right">
                            <em>
                                <h6 style="color:#aa1916;">
                                    <i class="fa fa-calendar"></i> Publicado el día
                                    jueves, 24 de enero del 2013 / No. 005 </h6>
                            </em>
                        </div>
                        <div class="text-left">
                            <h5 class="parrafo_noticia">Teniendo como objetivo el fortalecimiento e innovación de todos
                                los aspectos inherentes a la institucionalidad y vida universitaria, la Universidad
                                Francisco de Paula Santander, ofrece a toda su comunidad académica la oportunidad de
                                emprender nuevos caminos al mundo actual a través de la oficina de Relaciones
                                Internacionales.<br><br>
                                La dependencia, creada especialmente para estudiantes y docentes de nuestra Alma Mater,
                                tiene a disposición una serie de convenios con distintos claustros educativos del mundo
                                entre los que se destacan la Universidad Nacional del Rosario (Argentina), la
                                Universidad Federal de Santa Catarina (Brasil), la Universidad Politécnica de Madrid
                                (España), entre otras, instituciones en donde estudiantes y docentes pueden ir a
                                especializarse, hacer prácticas, compartir experiencias y ampliar sus conocimientos.<br><br>
                                Para la encargada de la oficina de Relaciones Internacionales, Mónica Figueroa, este es
                                un espacio que permite trascender a todo aquel que quiera expandir su visión del mundo
                                y que además pretenda ampliar sus conocimientos en los diversos campos laborales y
                                estudiantiles, “la idea es aportar al estudiante nuevas bases que le permitan seguir
                                mejorando en sus procesos académicos, además de proyectar a la Universidad cada día más
                                en el ámbito internacional”.<br><br>
                                Como uno de los tantos ejemplos de este proceso de internacionalización, tenemos el
                                caso del estudiante de Ingeniería Biotecnológica, Manuel Fernando Jácome Villate, quien
                                a través de esta dependencia logró desarrollar sus prácticas en la Habana, Cuba.<br><br>
                                Jácome Villate comentó, “el proceso para realizar mi práctica en Cuba duro
                                aproximadamente cinco meses, el contacto se hizo a través de la Universidad y un
                                contacto directo en la Habana, la idea era expandir mis conocimientos y así tener un
                                concepto más claro de lo que es mi profesión, por esta razón presenté toda la
                                documentación y logré ser aprobado”.<br><br>
                                Todo estudiante que esté interesado en desarrollar sus prácticas o estudios en el
                                exterior debe tener en cuenta las diferentes reglamentaciones exigidas al momento de
                                solicitar la petición entre las que se encuentran estar matriculados en un Programa de
                                nuestra Universidad, haber aprobado su cuarto semestre académico, no tener sanciones
                                académicas vigentes y no tener ni haber tenido sanciones disciplinarias.<br><br>
                                Para finalizar la encargada de la oficina de Relaciones expresó su invitación a todos
                                los estudiantes y docentes a hacer parte de estas oportunidades dentro de nuestro
                                claustro universitario, “la idea es seguir trabajando en todos los procesos que tienen
                                que ver con los Programas académicos, invito a todos los interesados a que visiten el
                                espacio de internacionalización a través de la página oficial de la Universidad y se
                                acerquen a nuestra oficina en el tercer piso de la Torre Administrativa”.<br><br>
                            </h5>
                        </div>

                        <div id="fb-root" class=" fb_reset">
                            <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
                                <div></div>
                                <div><iframe name="fb_xdm_frame_https" allowtransparency="true" allowfullscreen="true"
                                        scrolling="no" allow="encrypted-media" id="fb_xdm_frame_https" aria-hidden="true"
                                        title="Facebook Cross Domain Communication Frame" tabindex="-1" style="border: medium none;"
                                        src="https://staticxx.facebook.com/connect/xd_arbiter/r/j-GHT1gpo6-.js?version=43#channel=f3e1bb047225cbe&amp;origin=https%3A%2F%2Fww2.ufps.edu.co"
                                        frameborder="0"></iframe></div>
                            </div>
                        </div>

                        <!---- script redes social facebook ---->
                        <script type="text/javascript">
                            (function () {
                                var element = document.createElement('script');
                                element.type = "text/javascript";
                                element.async = true;
                                element.id = "facebook-jssdk"
                                element.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(element, s);
                            })();
                        </script>
                        <!---- final script redes social facebook ---->

                        <div class="fb-like fb_iframe_widget" data-href="http://norfipc.com/pagina.html" data-width="292"
                            data-send="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=848&amp;href=http%3A%2F%2Fnorfipc.com%2Fpagina.html&amp;locale=es_ES&amp;sdk=joey&amp;send=true&amp;width=292"><span
                                style="vertical-align: bottom; width: 0px; height: 0px;"><iframe name="f27fd91d4a44dd8"
                                    allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                                    title="fb:like Facebook Social Plugin" style="border: medium none; visibility: visible; width: 0px; height: 0px;"
                                    src="https://www.facebook.com/plugins/like.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fj-GHT1gpo6-.js%3Fversion%3D43%23cb%3Df137046c2e74004%26domain%3Dww2.ufps.edu.co%26origin%3Dhttps%253A%252F%252Fww2.ufps.edu.co%252Ff3e1bb047225cbe%26relation%3Dparent.parent&amp;container_width=848&amp;href=http%3A%2F%2Fnorfipc.com%2Fpagina.html&amp;locale=es_ES&amp;sdk=joey&amp;send=true&amp;width=292"
                                    class="" width="292px" height="1000px" frameborder="0"></iframe></span></div>
                    </div>
                </div>

                <!--            <div class="margin-top-60">-->
                <!--                <h4 style="color:#aa1916;">Últimas Noticias</h4>-->
                <!--                -->
                <!--                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">-->
                <!--                        <div class="blog-thumb-hover">-->
                <!--                            <img class="rounded-x" src="-->
                <!--" alt="">-->
                <!--                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>-->
                <!--                        </div>-->
                <!--                        <div class="blog-thumb-desc">-->
                <!--                            <h3><a href="-->
                <!---->
                <!--">-->
                <!--</a></h3>-->
                <!--                            <ul class="blog-thumb-info">-->
                <!--                                <li><i class="fa fa-calendar"></i> -->
                <!--</li>-->
                <!--                                <li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Ver Video"><a href="https://www.youtube.com/embed/iln-wbZ0HIA"><i class="fa fa-video-camera"></i></a></li>-->
                <!--                                <li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Ver Galería"><a href="-->
                <!--" rel="gallery2" class="fancybox img-hover-v1"><i class="fa fa-camera"></i></a></li>-->
                <!--                            </ul>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                -->
                <!--            </div>-->
                <!-- End Blog Thumb v2 -->
                <div class="row margin-bottom-30">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!--                    <div class="fondo_style_title"><h4 class="style_title" class="" style="width:60%;"><b><i-->
                        <!--                                        class="fa fa-edit"></i> Firma</b></h4></div>-->
                        <!--                    <h5 class="parrafo_noticia" style="background-color: #f7f7f7;">-->
                        <!--</h5>-->

                        <section>
                            <p><em>Carlos Eduardo Gómez Reyes<br>Jefe de Comunicaciones y Prensa<br>Apoyo,
                                    Carlos Flórez, Comunicador Social en formación.<br>
                                    Centro de Comunicaciones y Medios Audiovisuales - CECOM<br>
                                    Universidad Francisco de Paula Santander<br>
                                    oficinadeprensa@ufps.edu.co<br>
                                </em></p>

                        </section>

                    </div>                

            </div>
            <!--col-md-4-->
        </div><!-- row margin-bottom-30-->

        <div class="col-md-4 col-sm-4">
                <!--=== col-derecha ===-->
    <div class="row">
    
            <div class="col-md-12 col-sm-6 col-xs-12 margin-top-20">
            <div class="fadeInUp animated">
                <div class="shadow-wrapper">
                    <section class="tag-box tag-box-v4" style="margin-bottom: 30px">
                        <h5><b><a class="tooltips" title="" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Listado de Noticias Anteriores" href="https://ww2.ufps.edu.co/unoticia/listado_noticias">Buscar Noticias Anteriores <i class="fa fa-search search-btn"></i></a></b>
                        </h5>
                    </section>
                </div>
            </div>
        </div>
        
    
    
    
    <!--        <div class="col-md-12 col-sm-12 col-xs-12">-->
    <!--            <div class="fondo_style_title"><h4 class="style_title" class="" style="width:60%;"><b><i-->
    <!--                                class="fa fa-newspaper-o"></i> CECOM</b></h4></div>-->
    <!--            <ul class="list-inline blog-photostream blog-panel_derecho margin-bottom-50">-->
    <!--                <li>-->
    <!--                    <a class="fancybox img-hover-v2 tooltips" title="Ir a Rectoría al Día" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Rectoría al Día" href="--><!--" rel="gallery" target="_blank">-->
    <!--                        <span><img class="img-responsive" src="--><!--" alt=""></span>-->
    <!--                    </a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a class="fancybox img-hover-v2 tooltips" title="Ir a Oriente Universitario" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Oriente Universitario" href="/public/archivos/oriente/Oriente_Universitario.pdf" rel="gallery" target="_blank">-->
    <!--                        <span><img class="img-responsive" src="--><!--" alt=""></span>-->
    <!--                    </a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a class="fancybox img-hover-v2 tooltips" title="Ir a Boletín Siente la U" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Boletín Siente la U" href="http://www.ufps.edu.co/ufpsnuevo/sientelau/index2.php" rel="gallery" target="_blank">-->
    <!--                        <span><img class="img-responsive" src="--><!--" alt=""></span>-->
    <!--                    </a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a class="fancybox img-hover-v2 tooltips" title="Ir a Boletín Siente la U Acreditación" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Boletín Siente la U Acreditación" href="https://issuu.com/ufps/docs/siente_la_u_acreditaci_n_edicion_4" rel="gallery" target="_blank">-->
    <!--                        <span><img class="img-responsive" src="--><!--" alt=""></span>-->
    <!--                    </a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a class="fancybox img-hover-v2 tooltips" title="Ir a Magazín Siente la U" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Magazín Siente la U" href="https://www.youtube.com/channel/UCgPz-qqaAk4lbHfr0XH3k2g" rel="gallery" target="_blank">-->
    <!--                        <span><img class="img-responsive" src="--><!--" alt=""></span>-->
    <!--                    </a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a class="fancybox img-hover-v2 tooltips" title="Ir a Emisora UFPS Radio" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Emisora UFPS Radio" href="http://radio.ufps.edu.co/" rel="gallery" target="_blank">-->
    <!--                        <span><img class="img-responsive" src="--><!--" alt=""></span>-->
    <!--                    </a>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--            <!-- End Photostream -->
    <!--        </div>-->
      
    
    <!---->
        <div class="magazine-posts col-md-12 col-sm-6 col-xs-12 margin-top-20 shadow-wrapper">
    <!--        <div class="headline-v2 headline-v2-red-inst no-margin"><h2><b>Rectoría al Día</b></h2></div> -->
            <div class="magazine-posts-img portfolio-box  box-shadow shadow-effect-2">
                <a class="thumbnail fancybox tooltips" title="" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Rectoría al Día" href="https://ww2.ufps.edu.co/universidad/rectoria/1120">
                    <img class="full-width img-responsive" src="https://ww2.ufps.edu.co/public/imagenes/template/panel_derecho/rectoriaaldia.jpg" alt="">
                    <span class="portfolio-box-in rounded-x">
                        <i class="fa fa-link icon-lg icon-line"></i>
                    </span>
                </a>
            </div>
            <hr class="devider devider-dotted" style="margin-top:20px;">
        </div>
    
        <div class="magazine-posts col-md-12 col-sm-6 col-xs-12 shadow-wrapper">
            <!--  <div class="headline-v2 headline-v2-red-inst no-margin"><h2><b>Oriente Universitario</b></h2></div>  -->
            <div class="magazine-posts-img portfolio-box box-shadow shadow-effect-2">
                <a class="thumbnail fancybox tooltips" title="" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Oriente Universitario" href="/public/archivos/oriente/Oriente_Universitario.pdf" target="_blank">
                    <img class="full-width img-responsive" src="https://ww2.ufps.edu.co/assets/img/cecom/oriente-universitario.jpg" alt="">
                    <span class="portfolio-box-in rounded-x">
                        <i class="fa fa-link icon-lg icon-line"></i>
                    </span>
                </a>
            </div>
            <hr class="devider devider-dotted" style="margin-top: 20px;">
        </div>
    
    
        <div class="magazine-posts col-md-12 col-sm-6 col-xs-12 shadow-wrapper">
    <!--        <div class="headline-v2 headline-v2-red-inst no-margin"><h2><b>Editorial Siente la U</b></h2></div> -->
            <div class="magazine-posts-img portfolio-box box-shadow shadow-effect-2">
                <a class="thumbnail fancybox tooltips" title="" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Boletín Siente la U" href="http://www.ufps.edu.co/ufpsnuevo/sientelau/index2.php" target="_blank">
                    <img class="full-width img-responsive" src="https://ww2.ufps.edu.co/public/imagenes/template/panel_derecho/boletin-siente-la-u-banner.jpg" alt="">
                    <span class="portfolio-box-in rounded-x">
                        <i class="fa fa-link icon-lg icon-line"></i>
                    </span>
                </a>
            </div>
            <hr class="devider devider-dotted" style="margin-top: 20px;">
        </div>
    
        <div class="magazine-posts col-md-12 col-sm-6 col-xs-12 shadow-wrapper">
            <!--        <div class="headline-v2 headline-v2-red-inst no-margin"><h2><b>Editorial Siente la U</b></h2></div> -->
            <div class="magazine-posts-img portfolio-box box-shadow shadow-effect-2">
                <a class="thumbnail fancybox tooltips" title="" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Boletín Siente la U Acreditación" href="https://issuu.com/ufps/docs/siente_la_u_acreditaci_n_edicion_4" target="_blank">
                    <img class="full-width img-responsive" src="https://ww2.ufps.edu.co/public/imagenes/template/panel_derecho/siente_la_u_acreditacion.jpg" alt="">
                    <span class="portfolio-box-in rounded-x">
                        <i class="fa fa-link icon-lg icon-line"></i>
                    </span>
                </a>
            </div>
            <hr class="devider devider-dotted" style="margin-top: 20px;">
        </div>
    
    
    
    <!--    <div class="magazine-posts col-md-12 col-sm-6 col-xs-12 shadow-wrapper">-->
    <!--<!--        <div class="headline-v2 headline-v2-red-inst no-margin"><h2><b>Magazín Siente la U</b></h2></div> -->
    <!--        <div class="magazine-posts-img portfolio-box box-shadow shadow-effect-2">-->
    <!--            <a class="thumbnail fancybox tooltips" title="Ir a Magazín Siente la U" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Magazín Siente la U" href="https://www.youtube.com/channel/UCgPz-qqaAk4lbHfr0XH3k2g" target="_blank">-->
    <!--                <img class="full-width img-responsive" src="--><!--" alt="">-->
    <!--                <span class="portfolio-box-in rounded-x">-->
    <!--                    <i class="fa fa-link icon-lg icon-line"></i>-->
    <!--                </span>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <hr class="devider devider-dotted" style="margin-top: 20px;">-->
    <!--    </div>-->
    <!--    <div class="magazine-posts col-md-12 col-sm-6 col-xs-12 shadow-wrapper">-->
    <!--<!--        <div class="headline-v2 headline-v2-red-inst no-margin"><h2><b>UFPS Radio fm 95.2</b></h2></div> -->
    <!--        <div class="magazine-posts-img portfolio-box box-shadow shadow-effect-2">-->
    <!--            <a class="thumbnail fancybox tooltips" title="Ir a Emisora UFPS Radio" data-toggle="tooltip" data-placement="left" data-original-title="Ir a Emisora UFPS Radio" href="http://www.ufps.edu.co/emisora/player.php" target="_blank">-->
    <!--                <img class="full-width img-responsive" src="--><!--" alt="">-->
    <!--                <span class="portfolio-box-in rounded-x">-->
    <!--                    <i class="fa fa-link icon-lg icon-line"></i>-->
    <!--                </span>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--    </div>-->
    
    
    
    </div>
    
    <!--=== fin col-derecha ===-->  
    
    
                <!-- Contacts -->
    
    
                <!--        <h6>
                     Carlos Eduardo Gómez Reyes
                     <hr class="devider devider-dotted" style="margin: 5px;">
                     Jefe de Comunicaciones y Prensa
                     <hr class="devider devider-dotted" style="margin: 5px;">
                     Apoyo, José Luis Daza, Comunicador Social.
                     <hr class="devider devider-dotted" style="margin: 5px;">
                     Centro de Comunicaciones y Medios Audiovisuales - CECOM
                     <hr class="devider devider-dotted" style="margin: 5px;">
                     Universidad Francisco de Paula Santander
                     <hr class="devider devider-dotted" style="margin: 5px;">
                     oficinadeprensa@ufps.edu.co</h6>  -->
    
    
            </div>
    </div>

    